@{
    ViewData["Title"] = "Accounts";
    ViewData["Active"] = "Accounts";
}

<partial name="SideBar" view-data="ViewData"></partial>

<div class="jumbotron fin-blue rounded-0 navpad">
    <h4>Accounts</h4>
</div>

<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col">
                Accounts
            </div>
        </div>
    </main>
</div>