@using Finastra.Hackathon.Finastra
@{
    ViewData["Title"] = "Accounts";
    ViewData["Active"] = "Accounts";
}

<partial name="SideBar" view-data="ViewData"></partial>

<div class="jumbotron fin-blue rounded-0 navpad">
    <h4>Accounts</h4>
</div>

@{
    var accounts = new FusionAPIClient().GetAccounts();
}


<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="stage" style="right: 24px;">
                <div class="info-icon pulsing noselect" data-toggle="popover" title="Sandbox Request" data-content="Please add mutable sandboxes so we can add/remove test data for use cases.  We would have loved to have had an operational loan in the API results for the authenticated user." data-placement="left">&nbsp;<img src="~/img/4.jpg" id="throbber-icon" /></div>
            </div>
            <div class="col-5">
                <ul class="card-list">
                    @foreach (var account in accounts)
                    {
                        <li>
                            <div class="account-card">
                                <div class="row">
                                    @*<div class="col-4 d-flex align-items-center justify-content-center pr-0">
                                        <i class="fal fa-credit-card"></i>
                                    </div>*@
                                    <div class="col-12 d-flex flex-column">
                                        <span>CURRENT</span>
                                        <span class="balance">@account.AvailableBalance.ToString("C2")</span>
                                    </div>
                                </div>
                                <div class="d-flex p-1" style="border-top: 1px solid gainsboro;">
                                    @account.MaskedAccountNumber
                                </div>
                            </div>
                        </li>
                    }

                </ul>

            </div>
            <div class="col-7">

            </div>
        </div>
    </main>
</div>