@{
    ViewData["Title"] = "Accounting Principles";
    ViewData["Active"] = "AccountingPrinciples";
}

<partial name="SideBar" view-data="ViewData"></partial>

<div class="jumbotron fin-blue rounded-0">
    <h4>Accounting Principles</h4>
</div>


<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col">
                Accounting Principles
            </div>
        </div>
    </main>
</div>