@using System

@{
    Layout = "EmailLayout";
}

<p>
    @(Model.Name),
</p>
<p>
    This is an alert to inform you that your client <strong>@Model.CustomerName</strong> updated their account principles and <strong>
        we found statistical anomalies
    </strong> you may want to <a href="https://finastra-hackathon.azurewebsites.net/">log in</a> and review.
</p>

