@using System

@{
    Layout = "EmailLayout";
}

<p>
    @(Model.Name),
</p>
<p>
    This is an alert to inform you that your @Model.CustomerName updated their account principles and we found 
    some statistical anomalies you may want to <a href="https://finastra-hackathon.azurewebsites.net/">log in</a> and review.
</p>

