
h3 {
    border-bottom: 2px solid #694ed6;
    padding-bottom: 6px;
    margin-top: 24px;
}

table {

    thead:first-of-type {
        th {
            border-bottom: 2px solid #694ed6;
            margin-top: 12px;
            padding: 12px 0px;
            font-size: 18px;
        }
    }

    th {
        padding-top: 8px;
    }

    td {
        padding: 6px;
        a {
            text-align:right;
        }
    }

    td:first-of-type {
        margin-left: 1rem;
    }

}