@{
    ViewData["Title"] = "Clients";
    ViewData["Active"] = "Clients";
}

<partial name="SideBar" view-data="ViewData"></partial>

<div class="jumbotron fin-blue rounded-0 navpad">
    <h4>Peter's Pumpkin Cannery</h4>
</div>

<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col">
                Account Summaries and Sidebar links for <a href="/clients/details/">this details page</a> and <a href="/clients/insights">insights</a>.
            </div>
        </div>
    </main>
</div>