@{
    ViewData["Title"] = "Clients";
    ViewData["Active"] = "Clients";
}

<partial name="SideBar" view-data="ViewData"></partial>

<div class="jumbotron fin-blue rounded-0 navpad">
    <h4>Clients</h4>
</div>

<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col">
                List of clients:
                <ul>
                    <li><a href="/clients/details">Peter's Pumpkin Cannery</a></li>
                </ul>
            </div>
        </div>
    </main>
</div>