@{
    ViewData["Title"] = "Clients";
    ViewData["Active"] = "Clients";
}

<partial name="SideBar" view-data="ViewData"></partial>

<div class="jumbotron fin-blue rounded-0 navpad">
    <h4>Clients</h4>
</div>

<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col">
                <div class="stage" style="left: 100%;">
                    <div class="info-icon pulsing noselect" data-toggle="popover" title="API Request" data-content="Partners focused on enhancing Bank Ops [like Sycorr] create solutions central to inside the bank. As a result, we would love to see a whole suite of APIs where we could get lists of business customers, customers by officer code, customers with a particular account/product type, etc etc. We believe it would be these types of calls that developers focused on Bank Ops could really thrive. " data-placement="left">&nbsp;<img src="~/img/4.jpg" id="throbber-icon" /></div>
                </div>

                <table class="mat-table" id="client-datatable" style="width: 100%">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Balance</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </main>
</div>

<script>

    var accounts = [
        {
            "name":"Peter's Pumpkin Cannery",
            "balance": "38,800"
        },
        {
            "name": "Bob's Banana Stand",
            "balance": "47,200"
        },
        {
            "name": "Jeremy's Gnome Emporium",
            "balance": "12,400"
        },
        {
            "name": "William's Worm Farm",
            "balance": "19,500"
        }
    ];

    $('#client-datatable').dataTable({
        data: accounts,
        columns: [
            { data: 'name' },
            { data: 'balance' }
        ],
        paging: false,
        footer: false,
        bInfo: false,
        searching: false,
    });

</script>