
@{
    ViewData["Title"] = "Demos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "Demos";
}

<partial name="SideBar" view-data="ViewData"></partial>

<div class="jumbotron fin-blue rounded-0">
    <h4>Component Demos</h4>
</div>

<div class="container">
    <main role="main" class="pb-3">

        <div class="pl-4 pr-4 page-content">

            // Account avatars (blank)<br />
            <div class="row">
                <div class="col">
                    <div class="avatar-wrap-md">
                        <div class="avatar"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="avatar-wrap-sm">
                        <div class="avatar"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="avatar-wrap-lg">
                        <div class="avatar"></div>
                    </div>
                </div>
            </div>




            <div class="row">
                <div class="col p3-m-3"><hr></div>
            </div>

            // product / account card
            <div class="product-card mat-card box-shadow">
                Hello
            </div>



            <div class="row">
                <div class="col p3-m-3"><hr></div>
            </div>




            // throbber<br />

            <!-- demo container -->
            <div class="card" style="background-color: gray; height: 400px;">

                <!-- position as needed, this is hard-coded to be centered -->
                <div class="stage" style="left: 100%;">
                    <div class="info-icon pulsing noselect" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?" data-placement="bottom">&nbsp;<img src="~/img/4.jpg" id="throbber-icon" /></div>
                </div>

            </div>

            <div class="row">
                <div class="col p3-m-3"><hr></div>
            </div>

        </div>
    </main>
</div>
